<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <title>Пример формы</title>
</head>
<body>
<h1>Microprikol</h1>
<form method="post">
    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите текст" name="text">
    <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
    <textarea class="form-control" id="about" rows="3" name="about" placeholder="О себе"></textarea>
    <label for="classSelect">Как вы оцените данную страничку</label>
    <select class="form-control" id="classSelect" name="class">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <p><input name="dzen" type="radio" value="nedzen"> Не дзен</p>
    <p><input name="dzen" type="radio" value="dzen"> Дзен</p>
    <p><input name="dzen" type="radio" value="pdzen" checked> Полный дзен</p>
    <input type="checkbox" name="option2" value="a2">Windows 2000<Br>
    <input type="checkbox" name="option3" value="a3">System X<Br>
    <input type="checkbox" name="option4" value="a4">Linux<Br>
    <input type="checkbox" name="option5" value="a5">X3-DOS</p>
    <p><input type="submit" value="Выбрать"></p>


</form>

</body>
</html>